@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-brand {
    color: #008B5B !important;
    font-family: 'Poppins', sans-serif;
}
.nav-link {
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.nav-bg {
    background-color: #003E0E;
    border: #005235 solid 1px;
}
.navbar-collapse {
    justify-content: end;
}
.footer-links {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

@media screen and (min-height: 768px) {
    .navbar-brand {
        font-size: 40px;
    }
    .nav-link {
        font-size: 28px;
    }
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav-item {
        margin-left: 20px;
    }

    header {
        background-image: url("../assets/imgs/header.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
        height: 560px;
        width: 100%;
    }
    .header-color {
        width: 100%;
        height: 100%;
        background-color: rgba(2, 48, 32, 0.5);
    }
    .header-title {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 90px;
        font-weight: 400;
    }
    .header-sub {
        font-family: 'Poppins', sans-serif;
        color: #A6A6A6;
        font-size: 28px;
        font-weight: 300;
    }

    /* section 1 */

    .sec-one {
        width: 89.58%;
    }
    .sec-one-image-one {
        background-image: url("../assets/imgs/almondBird.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
        border-radius: 50px;
        border: #005235 solid 1px;
    }
    .sec-one-image-two {
        background-image: url("../assets/imgs/food.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
        border-radius: 50px;
        border: #005235 solid 1px;
    }
    .sec-one-title {
        font-family: 'Poppins', sans-serif;
        font-size: 70px;
    }
    .sec-one-caption {
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
    }
    .list-item {
        font-family: 'Poppins', sans-serif;
        font-size: 33px;
        font-weight: 400;
    }
    .list-caption {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 400;
        padding-left: 1rem;
    }

    /* section 2 */
    .sec-two {
        width: 89.58%;
        height: 1330px;
        border-radius: 50px;
        border: #005235 solid 1px;
        background-color: #023020;
        overflow: hidden;
    }
    .sec-two-img{
        background-image: url(../assets/imgs/chickens.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 550px;
    }
    .sec-two-img-overlay {
        background-color: rgba(2, 48, 32, 0.3);
    }
    .story-title {
        margin: 2.91%;
        font-family: 'Poppins', sans-serif;
        font-size: 38px;
        font-weight: 300;
        color: white;
    }
    .story {
        margin-left: 2.91%;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 300;
        color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: -60px;
    }
    .wbfi {
        height: 550px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* footer */
    .footer {
        margin-top: 80px;
        background-color: #023020;
        border: #005235 solid 1px;
        height: 155px;
        padding-top: 25px;
    }
    .co-name {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 300;
        color: #008B5B;
    }
    .footer-links {
        font-size: 16px;
    }
    .footer-link-left {
        text-align: start;
    }
    .footer-link-right {
        text-align: end;
    }
}

/* ---------------------------------AshurCss--------------------- */


.container-Ashur {
    max-width: 1750px;
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  row-gap: 100px;
    
  column-gap: auto;

  /* gap: 30px; */
  grid-auto-rows: minmax(300px, auto);
    font-family: 'Poppins', sans-serif;
   
 font-size: 30px;
 color: #fff;
  }

  .greenBox {
    border-radius: 72px;
    /* padding: 30px; */
  }
 @media (max-width: 768px) {
     .greenBox {

        border-radius: 40px;
     }
 }

.first-box-title {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    color: #14FFAD;
    text-shadow: rgba(0, 0, 0, 0.575) 1px 0 10px;
    text-align: center;
}

.flex-ourPro {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}


.nutBlend{
    display: flex;
    font-size: 21px;
    padding-top: 35px;
    padding-left: 70px;
    padding-bottom: 20px;
    justify-content: space-around;    
}
/* .flex-left-nuts{
   
} */
.flex-left-nuts img {
    max-width: 850px;
    border-radius: 45px;
}
@media (max-width: 768px) {
    .flex-left-nuts img{
        
        width: 0px;
    }
}
.flex-right-nuts {
    padding: 30px;
}
 .ul-flex {
        display: flex;
        font-weight: 300;
            line-height: 50px;
            font-size: 25px;
            padding-top: 5px;
        }

.our-standard-text{
    font-weight: 300;
    font-style: italic;
    line-height: 40px;
}

/* boxes sizes---3rd greenbox */
 .boxes-sizes img{
    width: 350px;
    max-height: 400px;
    padding: 10% 0;
 }

 .boxes-sizes{
    display: flex;
justify-content: center;
align-self: end;

 
 }
.boxes{
   width: 500px;
border-radius: 40px;
font-size: 24px;
font-weight: 100;
}
.boxes a{
    text-decoration: none;
}
.sbox{
    padding-top: 30px;
    padding-bottom: 30px;
}
.mbox{
    justify-self: center;
}
.lbox {
    justify-self: end;
}
 .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: end;
    
    margin-bottom: 30px;
    color: #fff;
     width: 297px;
     /* Set the width of the button */
     height: 61px;
     /* Set the height of the button */
     border-radius: 31px;
     /* Rounded corners of the button */
     border: 1px solid #6ECCAD;
     /* Border size and color */
     background-color: #E15C63;
     /* Background color of the button */
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
     /* Drop shadow: Y-offset of 4px, blur of 4px */
 }

 /* 4 prices container start */

.pricing{
    padding: 70px 0px 50px 130px;
}
    .pricing p{
        font-weight: 300;
        font-style: italic;
    }
    .ul-flex-pricing{
        display: flex;
        font-family: 'Poppins', sans-serif;
            font-weight: 300;
            line-height: 50px;
            font-size: 25px;
            padding-top: 5px;
    }

  /* 4 prices container end */
  .ourPro {
    background: #023020;
    grid-column: 1 / 4;
  }
 
  .nutBlend {
    background: #023020;
    grid-column: 1 / 4;
  }
  
  .sbox {
    background: #023020;
    grid-column: 1 / 2;
  }
  
  
  .mbox {
    background: #023020;
    grid-column: 2 / 3;
  }
  .lbox {
    background: #023020;
    grid-column: 3 / 4;
  }
  .pricing {
    background: #023020;
    grid-column: 1 / 4;
  }
  
  /*------------------------ Suppliers page start*/
  .header-suppliers{
    background-image: url("../assets/Products/suplier.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 560px;
        width: 100%;
  }

  .header-title-suppliers{
    font-family: 'Poppins', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 75px;
        font-weight: 700;
       padding-left: 3%; 
        padding-top: 130px;
  }
  .header-sub-suppliers {
      font-family: 'Poppins', sans-serif;
      color: #000000;
      font-size: 32px;
      font-weight: 400;
      line-height: 48px;
      padding-left: 3%;
      margin-top: 3%;
  }
@media (max-width: 768px){
    .header-suppliers {
            background-image: url("../assets/Products/suplier.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: fit-content;
            width: 100%;
        }
    .header-title-suppliers {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            padding-left: 0;
            padding-top: 30px;
            color: rgb(0, 0, 0);
            font-size: 30px;
            font-weight: 700;
        }
                .header-sub-suppliers {
                    font-family: 'Poppins', sans-serif;
                    color: #000000;
                    font-size: 22px;
                    padding: 10px;
                line-height: 38px;
                   
                    text-align: center;
                }
}



.suppliers-container{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.suppliers-box {
    width: 944px;
    height: 235px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
      padding: 0 60px;
    background: #023020;
}
.suppliers-box a {
color: #ffffff;
}
.email-sales-suppliers{
color: #ffffff;
display: block;
margin-top: auto;
}
.button-suppliers {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: end;
    font-size: 30px;

  
    color: #fff;
    width: 298px;
    /* Set the width of the button */
    height: 76px;
    /* Set the height of the button */
    border-radius: 31px;
    /* Rounded corners of the button */
    border: 1px solid #6ECCAD;
    /* Border size and color */
    background-color: #E15C63;
    /* Background color of the button */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /* Drop shadow: Y-offset of 4px, blur of 4px */
}
.a-suppliers a{
    text-decoration: none;
}
@media (max-width: 600px){
.suppliers-box {
        display: flex;
        flex-direction: column;
        padding-top: 55px;
        padding-bottom: 55px;
        width: 100%;
        height: auto;
        margin: 20px;
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }
        .a-suppliers{
            padding-top: 40px;
            padding-bottom: 30px;
        }
        .button-suppliers{
      width: 200px;
    height: 50px;
      font-size: 24px;
    }

}


  /* Suppliers page end----------------------------------------*/



 @media (max-width: 600px){
     .container-Ashur {
         grid-template-columns: 1fr;
         width: 100%;
     }

         .sbox {
            grid-column: 1;
            justify-self: center;             
            width: 100%;
         }
    
    
         .mbox {
        justify-self: center;
            width: 100%;
             grid-column: 1;
         }
    
         .lbox {
            justify-self: center;
                width: 100%;
             grid-column: 1;
         }
    
         .pricing {
        justify-self: center;
            width: 100%;
             grid-column: 1;
         }

 }


/* --------------------------------------------------AshurCss----------------------------- */
