@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-brand {
    color: #008B5B !important;
    font-family: 'Poppins', sans-serif;
}
.nav-link {
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.nav-bg {
    background-color: #003E0E;
    border: #005235 solid 1px;
}
.navbar-collapse {
    justify-content: end;
}

@media screen and (min-width: 720px) {
    .navbar-brand {
        font-size: 40px;
    }
    .nav-link {
        font-size: 28px;
    }
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav-item {
        margin-left: 20px;
    }
}